* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;;
}
body {
    background-color: var(--White);
    display: block;
    align-content: center;
    justify-items: center;
    padding: 50px;
    min-height: 100vh; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
:root primary {
    --Lightred: 	#ff5757;
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
}
:root gradient {
--Lightslateblue-background: hsl(252, 100%, 67%);
--Lightroyalblue-background: hsl(241, 81%, 54%);
--Violetblue-circle: hsla(256, 72%, 46%, 1);
--Persianblue-circle: hsla(241, 72%, 46%, 0);
}
:root neutral {
--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);
}
.card {
    width: 300px;
    height: 65vh;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.card p {
    color: hsl(221, 100%, 96%);
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.score {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
}
.score h2 {
    color:white;
    font-weight: 800;
    font-size: 35px;
    margin-top: 15px;
}
.score p {
    color: hsl(241, 100%, 89%);
    font-size: 18px;
    font-weight: 500;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item h2 {
    color: white;
    margin-bottom: 15px;
    font-weight: 700;
}
.item p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.summary {
    background-color:white;
    width: 300px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px hsl(241, 100%, 89%, 0.2);
    padding: 20px;
}
.summary .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.summary .content .list {
    padding-top: 20px;
    padding-bottom: 20px; 
}

.list {
    display: flex;
}
.list :nth-of-type(Reaction) {
    color: #ff5757;
}

.button1 {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: rgb(236, 233, 233);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
  }
  .button1:hover {
    background-image:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: white;
  
}

  @media only screen and (max-width: 320px) {
    body {
        background-color: var(--White);
        
        align-content: center;
        justify-items: center;
        min-height: 100vh; 
    }
    .container {
        display: block;
        align-items: center;
        justify-content: center;
    }
  }