* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    min-height: 100vh;
    padding: 50px;
}
